<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Register news Form</title>
		</head>
	<body>

		<h1>Add news</h1>
		<br/>

		<form action="/noticias/salvar" method="POST">
			<label>Title</label>
			<input type="text" id="titulo" name="titulo" placeholder="Titulo da noticia"/>
			<br />
			<label>Text about</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
			<br />
			<input type="submit" value="Send" />
		</form>

	</body>
</html>