<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticias</title>
		</head>
	<body>

		<h1>Noticias</h1>

		<table>
			<tr>
				<id>ID</id>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>
			<tr>
				<td><%= noticia[0].ID %></td>
				<td><%= noticia[0].TITULO %></td>
				<td><%= noticia[0].NOTICIA %></td>
			</tr>
		</table>

	</body>
</html>